@font-face {
    font-family: 'Segoe';
    src: url('../font/Segoe UI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-ligth-50: #FFF;

    --color-gray-500: #7D8590;
    --color-gray-600: #30363D;

    --color-blue-400: #2481F7;
    --color-blue-800: #161B22;
    --color-blue-900: #0D1117;

    --color-green-500: #238636;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe', Times, serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--color-blue-900);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

header img {
    width: 56px;
    height: 56px;
}

header h1 {
    color: var(--color-ligth-50);
    font-weight: 100;
}

section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#form {
    border: 1px solid var(--color-gray-600);
    border-radius: 6px;
    background-color: var(--color-blue-800);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#input-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#input-field {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--color-ligth-50);
    font-size: 16px;
    font-weight: 400;
}

#input-field div {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

#input-field div a {
    font-size: 13px;
    color: var(--color-blue-400);
    font-weight: 100;
}

#input-field input {
    background-color: var(--color-blue-900);
    width: 310px;
    height: 34px;
    border: 1px solid var(--color-gray-600);
    border-radius: 6px;
}

#login {
    width: 310px;
    height: 40px;
    border: none;
    background-color: var(--color-green-500);
    border-radius: 6px;
    color: var(--color-ligth-50);
    font-weight: 800;
}

section #new {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-gray-600);
    border-radius: 6px;
    width: 350px;
    height: 60px;
}

section #new p {
    color: var(--color-ligth-50);
}

section #new p a {
    color: var(--color-blue-400);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    margin-top: 60px;
}

footer a {
    color: var(--color-blue-400);
    font-size: 12px;
    font-weight: 100;
}

footer a:last-child {
    color: var(--color-gray-500);
}